body {
    background-color: #012351;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.input-container {
    display: block;
    margin: auto;
    margin-top: 3em;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #434D5A;
    font-size: 15px;
    max-width: 450px;
    padding: 1em;
    min-height: 250px;
    text-align: center;
}

.input-container > label {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    font-weight: bold;
}

.input-container > input {
    border: solid 1px #434D5A;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    max-width: 50%;
}

#main {
    display: block;
    margin: auto;
    margin-top: 3em;
    width: 800px;
    padding: 5px;
    background-color: #00275A;
}
#main.hidden {
    display: none;
}

#jackpot {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
    padding: 0.25em;
    color: #ABCDEF;
    font-weight: bold;
}

#bingo > div {
    display: inline-block;
    background-color: #2F56A2;
    padding: 5px 5px;
    margin: 5px 5px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    box-sizing: border-box;
    text-align: center;
    font-size: 75%;
    overflow: hidden;
}

#bingo > div > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: -0.5em;
}

#bingo > div.marked {
    background-color: #506EF7;
    border: solid 1px #ABCDEF;
}

#winner-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}
#winner-container.hidden {
    display: none;
}

#winner-container > div {
    background-color: #E9EBFF;
    color: #404040;
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000000 5px 5px 10px;
    padding: 2em;
    border-radius: 0.25em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
